#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_NixonCoind += debian/examples/*
DEB_INSTALL_MANPAGES_NixonCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix NixonCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f NixonCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake NixonCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/NixonCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/NixonCoind
binary-post-install/NixonCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/NixonCoin-qt
